.checklistContainer
  background: #ffffff
  border-left: 1px solid #F1F1F1
  border-right: 1px solid #F1F1F1
  padding: 146px 35px 35px
  min-height: 100%

  .positionCategory
    font-size: 18px
    font-weight: 500
    margin-bottom: 15px
    span
      font-size: 14px
      color: #A9A9A9

  .candidateOption
    padding-bottom: 15px
    margin-bottom: 15px
    position: relative
    &.partyList
      height: 70px
    .underLine
      position: absolute
      border-bottom: 1px solid #F1F1F1
      bottom: 0
      left: 30px
      right: 0
      height: 1px
    input[type="radio"], input[type="checkbox"]
      display: none
    label
      display: inline-block
      font-weight: 400
      font-size: 13px
      vertical-align: middle
      cursor: pointer
      // IDENTED 2ND LINE
      padding-left: 30px
      text-indent: -30px
    label:before, .radioButton
      content: ""
      display: inline-block
      width: 20px
      height: 20px
      margin-right: 10px
      position: static
      background-color: #fff
      border: 1px solid #D5D7DC
      border-radius: 10px
      vertical-align: middle
      transition: all 0.2s ease
    input[type="radio"]:checked + label, input[type="checkbox"]:checked + label, .selectedCandidate
      color: #71BBF2
      font-weight: 500
      font-size: 13px
      transition: color 0.3s ease
    input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before, .radioButton
      background-image: image-url("check.png")
      background-color: #71BBF2
      background-repeat: no-repeat
      background-size: 10px
      background-position: center center
      border: 1px solid #71BBF2
      transition: background-color 0.2s ease-in-out
      transition: border 0.2s ease-in-out
    .radioButton.undecided
      background-image: none
      background: #DBDEE2
      border-color: #DBDEE2
    span.undecided
      color: #A1A5AB
      font-weight: 500

.checklistContainer.print
  padding: 35px
  .logo
    background-image: image-url("logo_login.png")
    background-repeat: no-repeat
    background-size: contain
    width: 252px
    height: 40px
    margin: 0 auto 35px
