.checklistContainer
  background: #ffffff
  border-left: 1px solid #F1F1F1
  border-right: 1px solid #F1F1F1
  padding: 35px

  .positionCategory
    font-size: 18px
    font-weight: 500
    margin-bottom: 35px
    span
      font-size: 14px
      color: #A9A9A9

  .candidateOption
    padding-bottom: 15px
    position: relative
    input[type="radio"]
      float: left
      margin-right: 10px
    label
      padding-bottom: 15px
      border-bottom: 1px solid #F1F1F1
      display: inline-block
