@import 'bootstrap'

html, body
  height: 100%

html
  text-rendering: optimizeLegibility !important
  -webkit-font-smoothing: antialiased !important

body
  background: #fafafa
  font-family: 'Roboto', sans-serif
  color: #444444
  font-weight: 400

.contentContainer
  background: #ffffff

.mainWrapper
  max-width: 960px
  margin: 0 auto
  position: relative
  height: 100%

.btn
  padding: 15px 25px 17px
  border-radius: 5px
  font-size: 14px
  font-weight: 500
  text-transform: uppercase
  color: #ffffff
  background: #333333
  &:hover
    color: #ffffff
    background: #222
  &.blue
    background: #4285F4
    &:hover
      background: #3271DA
  &.navBtn
    font-size: 12px
    padding: 5px 10px 3px
    background: #585858
    border-radius: 3px
    &:hover
      background: #4E4E4E

.actionBar
  background: #FAFAFA
  position: fixed
  top: 50px
  left: 0
  width: 100%
  .actionBarContainer
    background: #ffffff
    border-left: 1px solid #F1F1F1
    border-right: 1px solid #F1F1F1
    border-bottom: 1px solid #F1F1F1
    padding: 15px 15px 10px
    font-size: 0
    a, input[type="submit"]
      display: inline-block
      border: none
      text-decoration: none
      background: #4688F1
      color: #fff
      padding: 10px 12px
      border-radius: 4px
      text-transform: uppercase
      font-size: 11px
      font-weight: 500
      margin-right: 5px
      margin-bottom: 5px

@import 'navbar'
@import 'login'
@import 'checklist'
